.gradle
.nb-gradle
*.iml
.idea/**
build/**
private/**
/build/
/fenxlib.controls.svg/build/
/fenxlib.icons.fa/build/
/fenxlib.icons.icomoon/build/
/fenxlib.core.api/build/
/fenxlib.core.impl/build/
/fenxlib.extensions.tuktukfx/build
/samples/widgets/widget-about-sample/build/
/fenxlib.skins.number/build
/fenxlib.widgets.about/build
/fenxlib.widgets.blade/build
