.gradle
.nb-gradle
*.iml
.idea/**
build/**
private/**
/build/
/fenxlib.controls.icon/build/
/fenxlib.icons.standard/build/
/fenxlib.core/build/
/fenxlib.core.impl/build/
/fenxlib.extensions.tuktukfx/build
/fenxlib.skins.number/build/
/fenxlib.widgets.about/build/
/fenxlib.widgets.blade/build/
/fenxlib.widgets.filetree/build/
/fenxlib.widgets.snackbar/build/
