.open-source-reference-list {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.open-source-reference-list > .content {
    -fx-alignment: center-left;
    -fx-font-size: 12.0;
}


#license-data {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, 75%) 0%, -fx-outer-border 90%),
                          	linear-gradient(to bottom, derive(-fx-base, 46.9%) 2%, derive(-fx-base, -2.1%) 95%);
}

.license-link{
   -fx-text-fill: #3a29d6;
}
.license-link:hover {
   -fx-text-fill: #606060;
}